* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}
body {
  font-family: "Rubik", "sans-serif";
  line-height: 1;
  overflow-x: visible;
  background-color: white;
  scroll-behavior: smooth;
}
.none {
  display: none;
}
/* HEADER */
.header {
  padding: 2rem;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 15px;
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.2rem;
}
.navbar__theme--box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.2rem;
}
.navbar__heading {
  font-size: 3.2rem;
  font-weight: 500;
}
.theme__icon {
  font-size: 1.8rem;
}
.theme__text {
  font-size: 2.2rem;
}
/* FILTER FORM */
.filter__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3rem 8rem;
  margin-top: 1.2rem;
}
.filter__country {
  padding: 1.2rem 1.8rem;
  outline: none;
  border: 1px solid black;
  border-radius: 1.2rem;
  font-size: 1.4rem;
  transition: all 0.6s;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 15px;
}
.filter__country:hover {
  scale: 1.1;
}
.filter__reigions {
  padding: 1.2rem 1.8rem;
  outline: none;
  border: 1px solid black;
  border-radius: 1.2rem;
  font-size: 1.4rem;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 15px;
  transition: all 0.6s;
}
/* COUNTRY LIST */
.countries {
  padding: 0rem 12rem;
  margin-top: 3.2rem;
  padding-bottom: 7.2rem !important;
}
.country__list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 6.4rem;
}
.country__item {
  width: 27rem;
  height: fit-content;
  list-style: none;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 15px;
  border-radius: 1rem;
  overflow: hidden;
  padding-bottom: 1.2rem;
  transition: all 0.6s;
}
.country__item--information {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2.4rem 4rem;
  gap: 1.6rem;
  padding-bottom: 1.2rem !important;
}
.country__img {
  width: 100%;
}
.country__name {
  color: black;
  font-weight: 700;
  font-size: 2.4rem;
  margin-bottom: 1.2rem;
}
.country__item--info {
  font-size: 1.6rem;
  color: #333;
}
.country__item--info span {
  font-size: 1.8rem;
  font-weight: 500;
  color: #444;
}
.country__item:hover {
  scale: 1.15;
  outline: 1rem solid black;
}
.error__msg {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: red;
  border-radius: 1rem;
  padding: 1.2rem 2.4rem;
  font-size: 2.4rem;
  color: white;
  transition: all 0.6s;
  text-align: center;
  max-width: 45rem;
  margin: 0 auto;
  position: absolute;
  animation: moveFromTop 1s;
  top: 20%;
  left: 37%;
}
.none {
  display: none;
  scale: 0;
}
@keyframes moveFromTop {
  0% {
    transform: translateY(-100rem);
  }
  100% {
    transform: translateY(-0rem);
  }
}
/* Country Filters Members */
.country__status--filter {
  font-size: 2.4rem;
  padding-right: 9.6rem;
}
.united__nations--filter {
  width: 9.6rem;
  height: 9.6rem;
}
.all__countries--filter {
  font-size: 7.2rem;
}
